$clr_background_dark: #164d96;
$clr_background_light: #fafcff;
$clr_text_light: #fafcff;
$clr_text_dark: #484864;
$clr_emphasize_light: #ebedee;
$clr_emphasize_dark: #10376a;
$clr_shadow: #00003264;
$clr_back_drop: rgba(0, 0, 50, 0.25);
