@import '~/styles/colors';

.rules {
  &__page {
    width: 800px;
    padding: 2em;
    border-radius: 1em;
    background-color: $clr_background_light;
    color: $clr_text_dark;
    line-height: 1.5em;
    margin: 2em auto;
    box-shadow: 0 .5em 2em $clr_shadow;

    ul {
      margin-left: 1em;

      li {
        margin: .2em 0;
      }
    }


    p {
      margin: 0.5em 0;
    }

    code {
      background-color: $clr_emphasize_light;
      color: $clr_emphasize_dark;
      margin: -.2em 0;
      padding: .2em .4em;
      border-radius: .2em;
    }

    h1, h2, h3, h4, h5, h6 {
      margin: 1em 0 .5em;
    }

    h2 {
      font-size: 32px;
    }

    h3 {
      font-size: 24px;
    }

    h4 {
      font-size: 20px;
    }

    h5 {
      font-size: 16px;
    }
  }
}